{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateur{% endblock %}


{% block body %}
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h1 class="h4">Liste des utilisateur</h1>
            <a href="{{ path('user_new') }}" class="btn btn-primary">Ajouter un nouveau utilisateur</a>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Adresse email</th>
                        <th>Role</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.role }}</td>
                        <td>
                            <a href="{{ path('user_show', {'id': user.id}) }}" class="btn-sm btn-info">Afficher</a>
                            <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn-sm btn-warning">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
